.example-container {
    width: 100%;
    height: 100%;
    z-index: 0;
  }

.example-sidenav {
  display: flex;
  position: fixed;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  width: 240px;
  border-right: #3490b0 5px solid;
}

.list-item{
  z-index: -1;
}