<div class="form-header">
  <h2 mat-dialog-title>Detalles del usuario</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="detailUserForm">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="username" placeholder="Nombre" type="text" readonly cdkFocusInitial>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="mail" placeholder="Correo Electrónico" type="email" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" placeholder="Contraseña" type="text" readonly>
      </mat-form-field>
    <p>
      Administrador:
      <mat-checkbox class="checkbox" disabled="true" [checked]="checkRolName(userToDetail.rolName)"></mat-checkbox>
    </p>
  </form>
</div>

