<h2 mat-dialog-title>Detalles del usuario</h2>
<div class="userForm">
  <form [formGroup]="detailUserForm" (ngSubmit)="onFormSubmit()">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder="Nombre" type="text" readonly>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" placeholder="Correo Electrónico" type="email" readonly>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" placeholder="Contraseña" type="password" readonly>
      </mat-form-field>
    </p>

    <p>
      Administrador:
      <mat-checkbox class="checkbox" disabled="true" [checked]="userToDetail.admin"></mat-checkbox>
    </p>

    <mat-dialog-actions>
        <button mat-stroked-button mat-dialog-close >Cerrar</button>
    </mat-dialog-actions>
  </form>
</div>

