<div class="form-header">
  <h2 mat-dialog-title>Nuevo saludo</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newSaludosForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="title" placeholder="Titulo" type="text" cdkFocusInitial>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contenido</mat-label>
        <input matInput formControlName="content" placeholder="Contentido" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="image" placeholder="Imagen" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="description" placeholder="Descripción" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Video</mat-label>
        <input matInput formControlName="video" placeholder="Video" type="text">
      </mat-form-field>
    <mat-dialog-actions>
        <button mat-stroked-button type="submit" [disabled]="newSaludosForm.invalid">Guardar cambios</button>
        <button mat-stroked-button type="reset" [disabled]="newSaludosForm.pristine">Limpiar</button>
    </mat-dialog-actions>
  </form>
</div>