<div class="form-header">
  <h2 mat-dialog-title>Nuevo saludo</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newSaludoForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="titulo" placeholder="Titulo" type="text" cdkFocusInitial>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contenido</mat-label>
        <input matInput formControlName="texto" placeholder="Texto" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" placeholder="Descripción" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="image" placeholder="Imagen" type="text">
      </mat-form-field>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Video</mat-label>
          <input matInput formControlName="video" placeholder="Video" type="text">
        </mat-form-field>
        <p>
        <mat-label>En uso</mat-label>
        <mat-checkbox class="checkbox" [checked]="checkInUse(saludos.enUso)"></mat-checkbox>
      </p>
    <mat-dialog-actions>
        <button mat-stroked-button type="submit" [disabled]="newSaludoForm.invalid">Guardar cambios</button>
        <button mat-stroked-button type="reset" [disabled]="newSaludoForm.pristine">Limpiar</button>
    </mat-dialog-actions>
  </form>
</div>