<div class="form-header">
  <h2 mat-dialog-title>Nuevo usuario</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newUserForm" (ngSubmit)="onFormSubmit()">
    
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="username" placeholder="Nombre" type="text" cdkFocusInitial>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
   
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="mail" placeholder="Correo Electrónico" type="email">
        <mat-error>Debes introducir un correo válido.</mat-error>
      </mat-form-field>
   
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" placeholder="Contraseña" type="password">
        <mat-error>La contraseña debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Repite tu contraseña</mat-label>
        <input matInput formControlName="passwordRepeat" placeholder="Contraseña" type="password">
        <mat-error>La contraseña debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <small *ngIf="newUserForm.errors?.misMatch">La contraseña no coincide</small>

      <p>
        Administrador:
        <mat-checkbox class="checkbox" [checked]="checkRolName(user.rolName)"></mat-checkbox>
      </p>

    <mat-dialog-actions>
        <button mat-stroked-button type="submit" [disabled]="newUserForm.invalid">Guardar cambios</button>
        <button mat-stroked-button type="reset" [disabled]="newUserForm.pristine">Limpiar</button>
    </mat-dialog-actions>
  </form>
</div>
