<div class="form-header">
  <h2 mat-dialog-title>Nueva historia</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newHistoriaForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo" placeholder="Titulo" type="text" cdkFocusInitial>
        <mat-error>El título debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Subtitulo</mat-label>
          <input matInput formControlName="subtitulo" placeholder="Subtitulo" type="text">
          <mat-error>El subtítulo debe contener 6 carácteres como mínimo.</mat-error>
        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" placeholder="Descripcion" type="text">
        <mat-error>La descripción debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="medios" placeholder="Imagen" type="text">
      </mat-form-field>

      <p>
        En Uso:
        <mat-checkbox class="checkbox" formControlName="enUso" [value]="checkEnUso(historia.enUso)"></mat-checkbox>
      </p>
    <mat-dialog-actions>
        <button mat-stroked-button type="submit" >Guardar cambios</button>
        <button mat-stroked-button type="reset" [disabled]="newHistoriaForm.pristine">Limpiar</button>
    </mat-dialog-actions>
  </form>
</div>

