<div class="form-header">
  <h2 mat-dialog-title>Detalles historia</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newHistoriaForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="titulo" placeholder="Titulo" type="text" readonly cdkFocusInitial>
        <mat-error>El titulo debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Subtitulo</mat-label>
          <input matInput formControlName="subtitulo" placeholder="Subtitulo" type="text" readonly>
          <mat-error>El subtitulo debe contener 6 carácteres como mínimo.</mat-error>
        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" placeholder="Descripcion" type="text" readonly>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="medios" placeholder="Imagen" type="text" readonly>
      </mat-form-field>
      <p>
        En Uso:
        <mat-checkbox class="checkbox" disabled="true" [checked]="checkEnUso(historiaDetails.enUso)"></mat-checkbox>
      </p>
  </form>
</div>
