<div class="form-header">
  <h2 mat-dialog-title>Nuevo material</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newMaterialesForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Tipo</mat-label>
    <input matInput formControlName="tipo" placeholder="Tipo" type="text"  cdkFocusInitial>
    <mat-error>El titulo debe contener 6 carácteres como mínimo.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Url</mat-label>
    <input matInput formControlName="url" placeholder="Url" type="text" >
    <mat-error>El subtitulo debe contener 10 carácteres como mínimo.</mat-error>
  </mat-form-field>
  <p>
    Administrador:
    <mat-checkbox class="checkbox" disabled="false"></mat-checkbox>
  </p>
  <mat-dialog-actions>
      <button mat-stroked-button type="submit" [disabled]="newMaterialesForm.invalid">Guardar cambios</button>
      <button mat-stroked-button type="reset" [disabled]="newMaterialesForm.pristine">Limpiar</button>
  </mat-dialog-actions>
  </form>
</div>
