<div class="form-header">
  <h2 mat-dialog-title>Nuevo material</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newMaterialesForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput formControlName="title" placeholder="Titulo" type="text" readonly cdkFocusInitial>
      <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contenido</mat-label>
      <input matInput formControlName="content" placeholder="Contenido" type="text" readonly>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Imagen</mat-label>
      <input matInput formControlName="image" placeholder="imagen" type="text">
    </mat-form-field>
    <mat-dialog-actions>
        <button mat-stroked-button type="submit" [disabled]="newMaterialesForm.invalid">Guardar cambios</button>
        <button mat-stroked-button type="reset" [disabled]="newMaterialesForm.pristine">Limpiar</button>
    </mat-dialog-actions>
  </form>
</div>
