<div class="form-header">
  <h2 mat-dialog-title>Detalles del acto</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newActosForm">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo" placeholder="Titulo" type="text" readonly cdkFocusInitial>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" placeholder="Descripcion" type="text" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ubicacion</mat-label>
        <input matInput formControlName="ubicacion" placeholder="Ubicacion" type="text" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Categoría</mat-label>
        <input matInput formControlName="categoria" placeholder="Categoria" type="text" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput formControlName="fecha" placeholder="Fecha" type="text" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="image" placeholder="Cartel" type="text">
      </mat-form-field>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Video</mat-label>
          <input matInput formControlName="video" placeholder="Video" type="text">
        </mat-form-field>
        <p>
      <p>
        <mat-label>En uso</mat-label>
        <mat-checkbox class="checkbox" disabled="true" [checked]="checkInUse(actoInput.enUso)"></mat-checkbox>
      </p>
  </form>
</div>

