<div class="form-header">
  <h2 mat-dialog-title>Detalles del acto</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newActosForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="title" placeholder="Titulo" type="text" readonly cdkFocusInitial>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="description" placeholder="Descripcion" type="text" readonly>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <input matInput formControlName="category" placeholder="Categoria" type="text" readonly>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput formControlName="date" placeholder="Fecha" type="date" readonly>
        <mat-error>Debes introducir un correo válido.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cartel</mat-label>
        <input matInput formControlName="image" placeholder="Cartel" type="text" readonly>
      </mat-form-field>
  </form>
</div>

