<div class="form-header">
  <h2 mat-dialog-title>Editar material</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newMaterialesForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput formControlName="titulo" placeholder="Titulo" type="text"  cdkFocusInitial>
      <mat-error>El titulo debe contener 6 carácteres como mínimo.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contenido</mat-label>
      <input matInput formControlName="contenido" placeholder="Contenido" type="text" >
      <mat-error>El subtitulo debe contener 6 carácteres como mínimo.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fotos">
      <mat-label>Fotos</mat-label>
      <input matInput formControlName="fotos" placeholder="Fotos" type="text" >
      <mat-error>El subtitulo debe contener 6 carácteres como mínimo.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Videos</mat-label>
      <input matInput formControlName="videos" placeholder="Videos" type="text" >
      <mat-error>El subtitulo debe contener 6 carácteres como mínimo.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Audios</mat-label>
      <input matInput formControlName="audios" placeholder="Audios" type="text" >
      <mat-error>El subtitulo debe contener 6 carácteres como mínimo.</mat-error>
    </mat-form-field>
    <p>
      Administrador:
      <mat-checkbox class="checkbox" disabled="false" [checked]="checkInUse(materialInput.enUso)"></mat-checkbox>
    </p>
    <mat-dialog-actions>
        <button mat-stroked-button type="submit" [disabled]="newMaterialesForm.invalid">Guardar cambios</button>
        <button mat-stroked-button type="reset" [disabled]="newMaterialesForm.pristine">Limpiar</button>
    </mat-dialog-actions>
  </form>
</div>
