<div class="form-header">
  <h2 mat-dialog-title>Detalles Saludos</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="detailSaludoForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="titulo" placeholder="Titulo" type="text" readonly cdkFocusInitial>
        <mat-error>El titulo debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Texto</mat-label>
          <input matInput formControlName="texto" placeholder="contenido" type="text" readonly>
          <mat-error>El subtitulo debe contener 6 carácteres como mínimo.</mat-error>
        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" placeholder="Descripcion" type="text" readonly>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="image" placeholder="Cartel" type="text">
      </mat-form-field>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Video</mat-label>
          <input matInput formControlName="video" placeholder="Video" type="text">
        </mat-form-field>
        <p>
      <p>
        <mat-label>En uso</mat-label>
        <mat-checkbox class="checkbox" disabled="true" [checked]="checkInUse(saludoInput.enUso)"></mat-checkbox>
      </p>
  </form>
</div>