<div class="form-header">
  <h2 mat-dialog-title>Detalles de la oración</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newOracionForm">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo" placeholder="Título" type="text" readonly cdkFocusInitial>
      </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Oración</mat-label>
          <input matInput formControlName="oracion" placeholder="Oración" type="text" readonly>
        </mat-form-field>
        <p>
          En uso:
          <mat-checkbox class="checkbox" disabled="true" [checked]="checkEnUso(oracionInput.enUso)"></mat-checkbox>
        </p>
  </form>
</div>

