<div class="form-header">
  <h2 mat-dialog-title>Detalles de la oración</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newUserForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="title" placeholder="Titulo" type="text" readonly cdkFocusInitial>
        <mat-error>El titulo debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Oracion</mat-label>
          <input matInput formControlName="prayer" placeholder="Oracion" type="text" readonly>
          <mat-error>El subtitulo debe contener 6 carácteres como mínimo.</mat-error>
        </mat-form-field>
  </form>
</div>

