<div class="form-header">
  <h2 mat-dialog-title>Detalles de la oración</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newOracionForm">
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="titulo" placeholder="Titulo" type="text" readonly cdkFocusInitial>
        <mat-error>El titulo debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Oracion</mat-label>
          <input matInput formControlName="oracion" placeholder="Oracion" type="text" readonly>
          <mat-error>El subtitulo debe contener 6 carácteres como mínimo.</mat-error>
        </mat-form-field>
        <p>
          En Uso:
          <mat-checkbox class="checkbox" disabled="true" [checked]="checkEnUso(oracionInput.enUso)"></mat-checkbox>
        </p>
  </form>
</div>

