<div class="form-header">
  <h2 mat-dialog-title>Nuevo ambiente PJ</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newAmbienteForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="titulo" placeholder="Titulo" type="text" cdkFocusInitial>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" placeholder="Descripcion" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Video</mat-label>
        <input matInput formControlName="medios" placeholder="Video" type="text">
      </mat-form-field>
      <p>
        enUso:
        <mat-checkbox class="checkbox" disabled="true" [checked]="ambiente.enUso"></mat-checkbox>
      </p>
    <mat-dialog-actions>
        <button mat-stroked-button type="submit" [disabled]="newAmbienteForm.invalid">Guardar cambios</button>
        <button mat-stroked-button type="reset" [disabled]="newAmbienteForm.pristine">Limpiar</button>
    </mat-dialog-actions>
  </form>
</div>
