<div class="form-header">
  <h2 mat-dialog-title>Detalles de las visitas</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newVisitaForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput formControlName="titulo" placeholder="Titulo" type="text" cdkFocusInitial disabled>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Video-Url</mat-label>
      <input matInput formControlName="medios" placeholder="Video-Url" type="text" disabled>
    </mat-form-field>
  </form>
</div>
