<div class="form-header">
  <h2 mat-dialog-title>Editar visita</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newVisitaForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput formControlName="titulo" placeholder="Titulo" type="text" cdkFocusInitial>
      <mat-error>El titulo no puede estar vacio</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Video-Url</mat-label>
      <input matInput formControlName="medios" placeholder="Video-Url" type="text">
      <mat-error>La Url no puede estar vacio</mat-error>
    </mat-form-field>
    <mat-dialog-actions>
        <button mat-stroked-button type="submit" [disabled]="newVisitaForm.invalid" (click)="editarSwt()">Guardar cambios</button>
        <button mat-stroked-button type="reset" [disabled]="newVisitaForm.pristine">Limpiar</button>
    </mat-dialog-actions>
  </form>
</div>
