.userForm {
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 350px;
}

mat-form-field {
    width: 350px;
}

.form-header {
    display: flex;
    justify-content: space-between;
}