<h2 mat-dialog-title>Detalles del Ambiente</h2>
<div class="userForm">
  <form [formGroup]="newUserForm" (ngSubmit)="onFormSubmit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="title" placeholder="Titulo" type="text" readonly>
        <mat-error>El nombre debe contener 6 carácteres como mínimo.</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Video</mat-label>
        <input matInput formControlName="video" placeholder="Video" type="text" readonly>
      </mat-form-field>
    </p>


    <mat-dialog-actions>
        <button mat-stroked-button mat-dialog-close >Cerrar</button>
    </mat-dialog-actions>
  </form>
</div>
  
