<div class="form-header">
  <h2 mat-dialog-title>Detalles Ambiente</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="newAmbienteForm">
      <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="titulo" placeholder="Titulo" type="text" readonly cdkFocusInitial>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" placeholder="Descripcion" type="text" readonly cdkFocusInitial>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Video</mat-label>
        <input matInput formControlName="video" placeholder="Video" type="text" readonly>
      </mat-form-field>

      <p>
        enUso:
        <mat-checkbox class="checkbox" disabled="true" [checked]="checkInUse(ambienteInput.enUso)"></mat-checkbox>
      </p>
      
  </form>
</div>

  
