<div class="form-header">
  <h2 mat-dialog-title>Detalles Material</h2>
  <button mat-stroked-button mat-dialog-close ><mat-icon>close</mat-icon></button>
</div>
<div class="form-container">
  <form [formGroup]="detailMaterialForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <input matInput formControlName="tipo" placeholder="Tipo" type="text" readonly cdkFocusInitial>
      </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Url</mat-label>
          <input matInput formControlName="url" placeholder="Url" type="text" readonly>
        </mat-form-field>
      <p>
        Administrador:
        <mat-checkbox class="checkbox" disabled="true" [checked]="checkInUse(materialDetails.enUso)"></mat-checkbox>
      </p>
  </form>
</div>