<mat-drawer-container class="example-container">
  <mat-drawer class="example-sidenav" mode="side" opened>
    <mat-list>
      <mat-list-item [routerLink]="['himno']" routerLinkActive="router-link-active" >
        <mat-icon mat-list-icon>music_note</mat-icon>
        <div mat-line class="list-item">Himno</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['registro']" routerLinkActive="router-link-active">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line class="list-item">Nuevo usuario</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
