table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
}

.action-btn {
  display: inline-block;
  margin-right: 1%;
}

.actions-row {
  width: 30%;
}

.checkbox {
  margin-left: 10%;
}